@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
    height: 100%;
}
.container {
    margin: 80px 0px 80px 0px;
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 3.9%;

        --primary: 0 0% 9%;
        --primary-foreground: 0 0% 98%;

        --secondary: 0 0% 95%;
        --secondary-foreground: 0 0% 53%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --disabled: 0 0% 95%;
        --disabled-foreground: 0 0% 80%;

        --disabled-outlined-border: 0 0% 80%;
        --disabled-outlined-foreground: 0 0% 80%;

        --hovered: 163 66% 42%;
        --hovered-foreground: 163 66% 10%;

        --hovered-outlined: 163 65% 49%;

        --focused: 163 66% 42%;
        --focused-foreground: 163 66% 10%;

        --focused-outlined: 163 65% 49%;

        --pressed: 163 66% 35%;
        --pressed-foreground: 163 66% 10%;

        --pressed-outlined: 163 65% 49%;

        --placeholder: 0 0% 69%;

        --link-foreground: 204 94% 53%;

        --warning: 47 93% 51%;

        --error: 359 77% 57%;

        --nav: 0 0% 77%;

        --border: 0 0% 87%;
    }
    .dark {
        --background: 0 0% 8%;
        --foreground: 0 0% 98%;

        --primary: 0 0% 98%;
        --primary-foreground: 162 39% 21%;

        --secondary: 0 0% 14.9%;
        --secondary-foreground: 267 36% 25%;

        --disabled: 0 0% 15%;
        --disabled-foreground: 0 0% 38%;

        --disabled-outlined-border: 0 0% 38%;
        --disabled-outlined-foreground: 0 0% 38%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;

        --placeholder: 0 0% 69%;

        --link-foreground: 204 94% 53%;

        --warning: 47 93% 51%;

        --disabled-foreground: 0 0% 38%;

        --success: 120 82% 46%;

        --border: 0 0% 87%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
